@import url("reset.css");

body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
    color:#333
}

p {
    padding: 10px;
}

#wrapper {
    width: 100%;
    min-width: 1400px;
    max-width: 2000px;
    margin: 0 auto;
}

#header {
    text-align: center;
    font-size: 30px;
    color: #FFFFFF;
    float: left;
    height: 50px;
    width: 100%;
    background: #33BB33;
}

#contentliquid {
    float: left;
    width: 100%;
}

#content {
    background: #FFFFFF;
    margin-left: 200px;
    margin-right: 400px;
}

#leftcolumn {
    background: #33BBEE;
    color: #FFFFFF;
    width: 200px;
    float: left;
    margin-left: -100%;
    height: 480px;
}

#rightcolumn {
    background: #FFFFFF;
    width: 400px;
    float: left;
    margin-left: -400px;
    height: 480px;
    overflow: auto;
}

#footer {
    height: 40px;
    width: 100%;
    background: #FFFFFF;
    clear: both;
}

svg {
  background-color: #FFF;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

/*svg:not(.active):not(.ctrl) {
  cursor: crosshair;
}*/

path.link {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
  cursor: pointer;
}

/*svg:not(.active):not(.ctrl) path.link {
  cursor: pointer;
}*/

/*path.link.selected {
  stroke-dasharray: 10,2;
}*/

/*path.link.dragline {
  pointer-events: none;
}*/

/*path.link.hidden {
  stroke-width: 0;
}*/

circle.node {
  stroke-width: 0px;
  cursor: pointer;
}

/*circle.node.reflexive {
  stroke: #000 !important;
  stroke-width: 2.5px;
}*/

th {
 font-weight: normal;
 text-align: left;
 font-size: 13px;
 background-color: #666;
 color: #fff;
 padding: 4px;
}

td {
 font-weight: normal;
 font-size: 12px;
 padding: 6px;
 background-color: #f3f3f3;
}

.dialog {
    display: none;
}

label, fieldset > input {
    display: block;
    width: 90%;
}

#waiting {
    position: absolute;
    top: 40%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
    pointer-events: none; /* the spinner div will not blocking the nodes */
}
