.banner {
    color: #FFFFFF;
    background: #33BB33;
}
.toolbox {
    padding: 50px;
}
.showcase {
    min-height: 700px;
    background: #77AA77;
}
a {
    text-decoration: none !important;
}
.input-group {
    padding: 5px;
}
