[project]
	description = A diagnosis, analytic and management framework for SDN
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Charles M.C. Chan (rascov)
[access "refs/for/refs/*"]
	read = group user/Charles M.C. Chan (rascov)
	push = group user/Charles M.C. Chan (rascov)
	label-Code-Review = -2..+2 group user/Charles M.C. Chan (rascov)
	label-Verified = -1..+1 group user/Charles M.C. Chan (rascov)
	rebase = group user/Charles M.C. Chan (rascov)
	removeReviewer = group user/Charles M.C. Chan (rascov)
	submit = group user/Charles M.C. Chan (rascov)
[access "refs/heads/*"]
	read = group user/Charles M.C. Chan (rascov)
	create = group user/Charles M.C. Chan (rascov)
	push = +force group user/Charles M.C. Chan (rascov)
	pushMerge = group user/Charles M.C. Chan (rascov)
[access "refs/tags/*"]
	push = +force group user/Charles M.C. Chan (rascov)
	pushTag = group user/Charles M.C. Chan (rascov)
	pushSignedTag = group user/Charles M.C. Chan (rascov)
