.gridLayout {
    width: 100vw;
    height: 92vh;
    overflow: hidden;
    background-color: #EEEEEE;
}

.gridItem {
    z-index: 15;
    border-radius: 5px !important;
    height: 100%;
    padding: 10px 10px 10px 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23) !important;
    overflow: auto;
}

.gridItem:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22) !important;
}

.gridItem.hidden{
    transform: translate(100vw,100vh) rotate(90deg) scale(0.1) !important;
}

.gridItem.max {
    transform: translate(0,0) !important;
    opacity: 0.99;
    height: 92% !important;
    width: 99% !important;
    position: fixed !important;
    z-index: 1210;
}

.controlPanel {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 24px;
    border-radius: 3px;
    background-color: rgba(33, 150, 243, 1);
    z-index: 1211;
}

.closeIcon {
    position: absolute;
    right: 0px;
}

.maxIcon {
    position: absolute;
    right: 25px;
}

.moduleWrap-enter {
  opacity: 0.01;
}

.moduleWrap-enter.moduleWrap-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.moduleWrap-leave {
  opacity: 1;
}

.moduleWrap-leave.moduleWrap-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
