{
  "env": {
    "browser": true,
    "node": true
  },
  "plugins": [
    "react"
  ],
  "ecmaFeatures": {
    "arrowFunctions": true,
    "binaryLiterals": false,
    "blockBindings": true,
    "classes": true,
    "defaultParams": true,
    "destructuring": true,
    "forOf": false,
    "generators": false,
    "modules": true,
    "objectLiteralComputedProperties": false,
    "objectLiteralDuplicateProperties": false,
    "objectLiteralShorthandMethods": false,
    "objectLiteralShorthandProperties": false,
    "octalLiterals": false,
    "regexUFlag": false,
    "regexYFlag": false,
    "restParams": true,
    "spread": true,
    "superInFunctions": true,
    "templateStrings": true,
    "unicodeCodePointEscapes": true,
    "globalReturn": true,
    "jsx": true
  },
  "rules": {
    "semi": [2, "always"],
    "eol-last": 1,
    "no-dupe-args": 2,
    "no-dupe-keys": 2,
    "no-duplicate-case": 2,
    "no-empty": 2,
    "no-ex-assign": 2,
    "no-extra-boolean-cast": 2,
    "no-extra-semi": 2,
    "no-unreachable": 2,
    "valid-typeof": 2,
    "consistent-return": 2,
    "curly": [2, "multi-line"],
    "dot-location": [2, "property"],
    "eqeqeq": [2, "smart"],
    "default-case": 2,
    "no-eval": 2,
    "no-eq-null": 2,
    "no-extra-bind": 2,
    "no-lone-blocks": 2,
    "no-loop-func": 2,
    "no-multi-spaces": 2,
    "no-native-reassign": 2,
    "key-spacing": [2, {
        "beforeColon": false,
        "afterColon": true
    }],
    "space-infix-ops": [2, {"int32Hint": false }],
    "space-in-brackets": [2, "always", {
      "singleValue": false,
      "objectsInArrays": false,
      "arraysInArrays": false,
      "arraysInObjects": 2,
      "objectsInObjects": 2,
      "propertyName": false
    }],
    "space-in-parens": [2, "never"],
    "space-after-keywords": [2, "always"],
    "space-unary-ops": [2, { "words": true, "nonwords": false } ],
    "space-return-throw-case": [2],
    "no-self-compare": 2,
    "react/display-name": 0,
    "react/jsx-boolean-value": 1,
    "react/jsx-no-undef": 1,
    "react/jsx-quotes": [1, "double", "avoid-escape"],
    "react/jsx-sort-prop-types": 0,
    "react/jsx-sort-props": 0,
    "react/jsx-uses-react": 0,
    "react/jsx-uses-vars": 1,
    "react/no-did-mount-set-state": 1,
    "react/no-did-update-set-state": 1,
    "react/no-multi-comp": 0,
    "react/no-unknown-property": 1,
    "react/prop-types": 0,
    "react/react-in-jsx-scope": 0,
    "react/self-closing-comp": 1,
    "react/sort-comp": [1, {
          "order": [
            "constructor",
            "lifecycle",
            "everything-else",
            "render"
          ],
          "groups": {
            "lifecycle": [
              "displayName",
              "propTypes",
              "contextTypes",
              "childContextTypes",
              "mixins",
              "statics",
              "getDefaultProps",
              "getInitialState",
              "getChildContext",
              "componentWillMount",
              "componentDidMount",
              "componentWillReceiveProps",
              "shouldComponentUpdate",
              "componentWillUpdate",
              "componentDidUpdate",
              "componentWillUnmount"
            ]
          }
      }
    ],
    "react/wrap-multilines": [1, {
        "declaration": true,
        "assignment": false,
        "return": true
        }
    ]
  }
}
