.link {
  cursor: crosshair;
}
.s2s{
  stroke: rgb(153, 204, 255);
  stroke-width: 5px;
}
.s2h{
  stroke: rgb(100, 204, 0);
  stroke-width: 3px;
}

.node {
  cursor: move;
  stroke: #fff;
  stroke-width: 5px;
  stroke-opacity: 0.8;
  r: 15;
}
.node.choose {
  fill: rgb(255, 0, 0);
}
.node.fixed {
  stroke: #f00;
  stroke-width: 5px;
  stroke-opacity: 0.24;
  r: 23;
}
.switch {
  fill: rgb(255, 188, 0);
}
.ap {
  fill: rgb(0, 157, 83);
}
.host {
  fill: rgb(180, 71, 47);
}
.device {
  fill: rgb(0, 101, 234);
}
