.link {
  stroke: #666;
  stroke-width: 1;
  cursor: crosshair;
  z-index: 100;
}
.node {
  cursor: move;
  z-index: 0;
  /* 邊框 拉拉不喜歡所以拿掉
  stroke: #ccc;
  stroke-width: 2px;*/
}
.node.choose {
  fill: rgb(255, 0, 0);
}
.node.fixed {
  stroke: #faa;
  stroke-width: 1px;
  r: 15;
}
.switch {
  fill: rgb(255, 188, 0);
}
.ap {
  fill: rgb(0, 157, 83);
}
.host {
  fill: rgb(180, 71, 47);
}
.device {
  fill: rgb(0, 101, 234);
}
