.link {
  stroke: #555;
  stroke-width: 5;
  opacity:1;
  cursor: crosshair;
}
.node {
  cursor: move;
  r: 15;
}
.node.choose {
  fill: rgb(255, 0, 0);
}
.node.fixed {
  stroke: #baa;
  stroke-width: 2px;
  r: 18;
}
.switch {
  fill: rgb(255, 188, 0);
}
.ap {
  fill: rgb(0, 157, 83);
}
.host {
  fill: rgb(180, 71, 47);
}
.device {
  fill: rgb(0, 101, 234);
}
